body {
    background: repeating-radial-gradient(ellipse farthest-corner at center center, #1DB954 62%, #1BA64B 69%);;
}
#content {
    max-width: 1000px;
    background-color: #fff;
    min-height: 100vh;
    height:100%;
    margin: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#title-box {
    padding-top:2%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right:10%;
    background-color: #1DB954;
    font-size: 24pt;
    text-align: center;
    color:black;
    border-bottom: 2px solid black;

}

#title-box, header {
    font-size: 36pt;

}

#button-holder {
    align-items: center;
    padding-top:4%;
    padding-bottom:4%;
    margin: auto:

}

#about {
    padding-top:8%;
}

#login-button {
    background-color: #555;
    border-color:black;
    margin: 0 auto;
    width: 25%;
    display: block;
}
#login-button:hover {
    background-color: #333;
}