<!doctype html>
<html lang="en">
    <head>
        <title>Librarian for Spotify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
    <body>
        <div id="content">
            <header>Librarian for Spotify</header>
            <div id="songs">
                <h1></h1>
                
            </div>
            <div id="playlist-options">
                <a id='run' class="btn btn-success btn-lg" role="button" onclick="run()">Go</a>
            </div>
            <div id="playlists">
                <label for="playlist number">Playlist Number:</label>
                <select id="playlist number" onchange="changeDisplayedPlaylist()"></select>
                <div id="playlist display"></div>
            </div>
        </div>



        <!-- JS script -->
        <script>

// Get tracks
async function getUserTrackData() {

let auth = 'Bearer ' + '{{token}}';
let header = {Authorization: auth};
let track_data = [];

let is_next = true;
let offset = 0;

while (is_next) {
    response = await fetch('https://api.spotify.com/v1/me/tracks?limit=50&offset='+offset,{headers:header}).then(res => res.json());
    if (response.next == null) {
        is_next = false;
    } else {
        is_next = true;
    };

    let tracks = response.items;
    let ids = tracks.map(x => x.track.id);

    let query_url = 'https://api.spotify.com/v1/audio-features?ids=' + ids.toString();
    let a = await fetch(query_url,{headers:header}).then(res => res.json());
    let audio_data = a.audio_features;

    let next50 = tracks.map((track,i) => ({
        'id': track.track.id,
        'title': track.track.name,
        'explicit': track.track.explicit,
        'track_popularity': track.track.popularity,
        // 'artist_genres': track.track.artists[0].genres,
        // 'artist_popularity':track.track.artists[0].popularity,
        'release_date': track.track.album.release_date,
        // 'album_genres': track.track.album.genres,
        // 'album_popularity': track.track.album.popularity,
        'artist_name': track.track.artists[0].name,
        'artist_id': track.track.artists[0].id,
        'album_name': track.track.album.name,
        'album_id': track.track.album.id,
        'album_image': track.track.album.images[0].url,
        'available_markets': track.available_markets,


        'acousticness': audio_data[i].acousticness,
        'danceability': audio_data[i].danceability,
        'duration': audio_data[i].duration_ms,
        'energy': audio_data[i].energy,
        'instrumentalness': audio_data[i].instrumentalness,
        'key': audio_data[i].key,
        'liveness': audio_data[i].liveness,
        'loudness': audio_data[i].loudness,
        'mode': audio_data[i].mode,
        'speechiness': audio_data[i].speechiness,
        'tempo': audio_data[i].tempo,
        'time_signature': audio_data[i].time_signature,
        'valence': audio_data[i].valence
    }));

    track_data = track_data.concat(next50);
    offset += 50;
    };   

// Get unique ids
function unique(value, index, array) {
    return array.indexOf(value) === index;
};
let artist_ids_unique = track_data.map(x => x.artist_id).filter(unique);
let album_ids_unique = track_data.map(x => x.album_id).filter(unique);

// Fetch artist genres
let artists_data = [];
for (let i = 0; i < artist_ids_unique.length; i += 50) {
    let artists_chunk = artist_ids_unique.slice(i,i+50);
    let artists_results = await fetch('https://api.spotify.com/v1/artists?ids='+artists_chunk.toString(),{headers:header}).then(res => res.json());
    let chunk_results = artists_results.artists.map(artist => ({'id': artist.id, 'name': artist.name, 'popularity': artist.popularity, 'genres': artist.genres}));
    artists_data = artists_data.concat(chunk_results);
};
console.log(artists_data);

// Merge artist data with track data
let track_data_with_artists = track_data.map(track => {
    let track_artist = artists_data.filter(artist => artist.id == track.artist_id);
    track['artist_popularity'] = track_artist[0].popularity;
    track['artist_genres'] = track_artist[0].genres;
    return track;
});


// Fetch album genres
let album_data = [];
for (let i=0; i < album_ids_unique.length; i += 20) {
    let albums_chunk = album_ids_unique.slice(i,i+20);
    let album_results = await fetch('https://api.spotify.com/v1/albums?ids='+albums_chunk.toString(),{headers:header}).then(res=>res.json());
    let chunk = album_results.albums.map(album => ({'id':album.id, 'genres': album.genres, 'popularity': album.popularity}));
    album_data = album_data.concat(chunk)
};

// Merge album data
let track_data_albums = track_data_with_artists.map(track => {
    let track_album = album_data.filter(album => album.id == track.album_id);
    track['album_genres'] = track_album[0].genres;
    track['album_popularity'] = track_album[0].popularity;
    return track;
})
console.log(track_data_albums);

// console.log(track_data);
sessionStorage.setItem("tracks",JSON.stringify(track_data_with_artists));
// document.getElementById('run').setAttribute(onclick,'')
};

getUserTrackData();


function run() {
    let track_data = sessionStorage.getItem("tracks");
    // downloadObjectAsJson(track_data,'tracks');
    $.post('/run', {data: track_data}, cluster_array => {
        let groups = JSON.parse(cluster_array);
        let tracks = JSON.parse(track_data);
        tracks.map((x,i) => x['cluster'] = groups[i]);
        console.log(tracks);
        sessionStorage.removeItem('tracks')
        sessionStorage.setItem("tracks",JSON.stringify(tracks));
        for (let i = 1; i <=15; i++) {
            document.getElementById("playlist number").add(new Option(i));
        };
        for (let track of tracks) {
            if (track['cluster'] == 0) {
                document.getElementById("playlist display").innerHTML += '<p>'+ track.title + ' by ' + track.artist_name + '</p>'
            };
        };
        
    });
    console.log('post request sent')
};


function changeDisplayedPlaylist() {
track_data = JSON.parse(sessionStorage.getItem('tracks'));
console.log(track_data);
n = document.getElementById('playlist number').value - 1;
document.getElementById("playlist display").innerHTML = '';
track_data.map(track => {
        if (track['cluster'] == n) {
            document.getElementById("playlist display").innerHTML += '<p>'+ track.title + ' by ' + track.artist_name + '</p>'
        }
    });    
};
        </script>
    </body>
</html>