<!doctype html>
<html lang="en">
    <head>
        <title>Librarian for Spotify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
    <body>
        <div id="content">
            <header>Librarian for Spotify</header>
            <div id="songs">
                <h1></h1>
                
            </div>
            <div id="playlist-options">
                <a id='run' class="btn btn-success btn-lg" role="button" onclick="run()">Go</a>
            </div>
            <div id="playlists">
                <select id="playlist number" onchange="changeDisplayedPlaylist()"></select>
                <div id="playlist display"></div>
            </div>
        </div>



        <!-- JS script -->
        <script>

async function getUserTrackData() {

let auth = 'Bearer ' + '{{token}}';
let header = {Authorization: auth};
let track_data = [];

let is_next = true;
let offset = 0;

while (is_next) {
    response = await fetch('https://api.spotify.com/v1/me/tracks?limit=50&offset='+offset,{headers:header}).then(res => res.json());
    if (response.next == null) {
        is_next = false;
    } else {
        is_next = true;
    };

    let tracks = response.items;
    let ids = tracks.map(x => x.track.id);

    let query_url = 'https://api.spotify.com/v1/audio-features?ids=' + ids.toString();
    let a = await fetch(query_url,{headers:header}).then(res => res.json());
    let audio_data = a.audio_features;

    let next50 = tracks.map((track,i) => ({
        'id': track.track.id,
        'title': track.track.name,
        'explicit': track.track.explicit,
        'track_popularity': track.track.popularity,
        // 'artist_genres': track.track.artists[0].genres,
        // 'artist_popularity':track.track.artists[0].popularity,
        'release_date': track.track.album.release_date,
        // 'album_genres': track.track.album.genres,
        // 'album_popularity': track.track.album.popularity,
        'artist_name': track.track.artists[0].name,
        'album_name': track.track.album.name,
        'album_image': track.track.album.images[0].url,


        'acousticness': audio_data[i].acousticness,
        'danceability': audio_data[i].danceability,
        'duration': audio_data[i].duration_ms,
        'energy': audio_data[i].energy,
        'instrumentalness': audio_data[i].instrumentalness,
        'key': audio_data[i].key,
        'liveness': audio_data[i].liveness,
        'loudness': audio_data[i].loudness,
        'mode': audio_data[i].mode,
        'speechiness': audio_data[i].speechiness,
        'tempo': audio_data[i].tempo,
        'time_signature': audio_data[i].time_signature,
        'valence': audio_data[i].valence
    }));

    track_data = track_data.concat(next50);
    offset += 50;
    };   

// console.log(track_data);
localStorage.setItem("tracks",JSON.stringify(track_data));

};

getUserTrackData();


function run() {
    let track_data = localStorage.getItem("tracks");
    // downloadObjectAsJson(track_data,'tracks');
    $.post('/run', {data: track_data}, groups => {
        console.log('returned');

        // localStorage.setItem('cluster_groups',groups)
        tracks.map((x,i) => x['cluster'] = groups[i]);
        for (let i = 1; i <=68; i++) {
            document.getElementById("playlist number").add(new Option(i));
        };
        tracks.map(track => {
            if (track['cluster'] == document.getElementById("playlist number").value) {
                document.getElementById("playlist display").add('<p>'+ track.title + ' by ' + track.artist_name + '</p>')
            }
        });
        
    });
    console.log('post request sent')
};

function downloadObjectAsJson(exportObj, exportName){
    var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(exportObj));
    var downloadAnchorNode = document.createElement('a');
    downloadAnchorNode.setAttribute("href",     dataStr);
    downloadAnchorNode.setAttribute("download", exportName + ".json");
    document.body.appendChild(downloadAnchorNode); // required for firefox
    downloadAnchorNode.click();
    downloadAnchorNode.remove();
  };

  function changeDisplayedPlaylist() {
    track_data = localStorage.getItem('tracks');
    console.log(typeof(track_data));
    console.log(track_data);
    // let tracks = 
    n = document.getElementById('playlist number').value;
    document.getElementById("playlist display").innerHTML = '';
    tracks.map(track => {
            if (track['cluster'] == document.getElementById("playlist number").value) {
                document.getElementById("playlist display").add('<p>'+ track.title + ' by ' + track.artist_name + '</p>')
            }
        });    
  };
        </script>
    </body>
</html>