<!doctype html>
<html lang="en">
    <head>
        <title>Librarian for Spotify</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_home.css') }}" />
        <!-- <script src="{{ url_for('static',filename='js/getsongs.js')}}"></script> -->
    </head>
    <body>
        <div id="content">
            <header>

            </header>
            <div id="songs">
                <h1></h1>
                
            </div>
            <div id="playlist-options">
                
            </div>
        </div>

        <script>
            document.getElementById('content').className = 'loading';
            var auth = 'Bearer ' + '{{token}}' ;
            var header = {Authorization: auth};
            fetch('https://api.spotify.com/v1/me/tracks',{headers:header,limit:50}).then(res => {
                // console.log(res.json());
                console.log(res.text());
                document.getElementById('content').className = 'loaded';
            });
        </script>
    </body>
</html>
